* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1070px;
  height: 100%;
  margin: 0 auto;
}

/* classi ritulizzabili */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* header */
header{
  background-color: red;
  width: 100%;
  height: 500px;
}

header nav {
  width: 100%;
  height: 80px;
  background-color: violet;
}

header nav .navbar-left{
  width: 30%;
  height: 80px;
  display: inline-block;
  background-color: pink;
}

header nav .navbar-right{
  width: 70%;
  height: 80px;
  background-color: lightgreen;
}

header .jumbotron {
  height: calc(100% - 80px);
  width: 100%;
  background-color: yellow;
}

/* main */
main{
  background-color: green;
  width: 100%;
  height: 500px;
}

/* footer */
footer{
  background-color: blue;
  width: 100%;
  height: 100px;
}
