* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* CLASSI RIUTILIZZABILI */
.container {
  max-width: 1070px;
  height: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

ul li {
 display: inline-block;
 margin-right: 5px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0 5px;
}

.ms_line {
  line-height: 1.6;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

/* COLORI */
.ms_white{
  color: white;
}

.ms_black{
  color: black;
}

.ms_orange{
  color: #ffa837;
}

.ms_yellow{
  color: #ffa837;
}

.ms_grey{
  color: #818e9d;
}

.ms_blue{
  color: #5f7afd;
}

.bcg_orange {
  background-color: #ffa837;
}

.bcg_blue {
  background-color: #556eed;
}

/* WIDGET */
.scroll-to-top a{
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.81);
}

/* HEADER */
header{
  width: 100%;
  height: 600px;
  background-image: url('../seo/images/1-hero-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header nav {
  width: 100%;
  height: 80px;
}

header nav .navbar-left{
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav .navbar-right{
  width: 70%;
  height: 80px;
}

header nav .navbar-right ul{
  display: flex;
  justify-content: space-between;
}

header nav .navbar-right ul li{
  line-height: 80px;
  vertical-align: middle;
}

header nav .navbar-right #apply{
  padding: 2px 5px;;
  border: 1px solid #ffa837;
  border-radius: 10px;
}

header nav .navbar-right ul li:first-child a{
  color: #ffa837;
}

header nav .navbar-right ul li:last-child a{
  padding: 8px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background-color: #ffa837;
}

/* jumbotron */
header .jumbotron {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .jumbotron .text{
  width: 40%;
}

header .jumbotron .text h1,
header .jumbotron .text p{
  margin-bottom: 30px;
}

header .jumbotron .text ul li a{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

/* MAIN */
main{
  width: 100%;
}

/* SECTION MEET */
main section#meet {
  width: 100%;
  padding-top: 100px;
  background-color: #f7f8fa;
}

/* meet-top */
main section#meet .meet-top{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

main section#meet .meet-top h2,
main section#meet .meet-top p{
  margin-bottom: 40px;
}

/* meet-center */
main section#meet .meet-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main section#meet .meet-center .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 4);
  background-color: white;
  padding: 40px;
}

main section#meet .meet-center .box i{
  font-size: 30px;
}

main section#meet .meet-center .box i,
main section#meet .meet-center .box h3{
  margin-bottom: 10px;
}

main section#meet .meet-center .box p{
  text-align: center;
}

/* meet-bottom */
main section#meet .meet-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* SECTION SEE */
main section#see{
  width: 100%;
  padding: 100px 0;
  background-image: url('../seo/images/pattern_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #051642;
}

/* see-top */
main section#see .see-top{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

main section#see .see-top h2,
main section#see .see-top p{
  margin-bottom: 30px;
}

/* see-bottom */
main section#see .see-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main section#see .see-bottom .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 6);
  background-color: #071b50;
  padding: 20px;
}

main section#see .see-bottom .box i{
  font-size: 30px;
}

main section#see .see-bottom .box i.arrow-right{
  font-size: 10px;
}

main section#see .see-bottom .box i,
main section#see .see-bottom .box h3{
  margin-bottom: 10px;
}

main section#see .see-bottom .box p{
  text-align: center;
  margin-bottom: 20px;
}

/* SECTION OUR-WORK */
main section#our-work{
  background-color: #f7f8fa;
  padding-bottom: 70px;
}

/* our-work-top */
main section#our-work .our-work-top{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
}

main section#our-work .our-work-top h2{
  margin-bottom: 30px;
}

/* our-work-center */
main section#our-work .our-work-center .row{
  display: flex;
  justify-content: center;
  align-items: center;
}

main section#our-work .our-work-center .row .box{
  padding: 10px;
}

main section#our-work .our-work-center .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

main section#our-work .our-work-center .btn a{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

/* SECTION OUR-PLANS */
main section#our-plans{
  background-image: url('../seo/images/background1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0;
}

/* our-plans-top */
main section#our-plans .our-plans-top{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

main section#our-plans .our-plans-top h2{
  margin-bottom: 30px;
}

/* our-plans-bottom */
main section#our-plans .our-plans-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

main section#our-plans .our-plans-bottom .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 6);
  background-color: #f7f8fa;
  padding: 20px;
}

main section#our-plans .our-plans-bottom .box .price{
  display: flex;
  justify-content: center;
  align-items: center;
}

main section#our-plans .our-plans-bottom .box .price .number{
  font-size: 50px;
}

main section#our-plans .our-plans-bottom .box .price .cent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main section#our-plans .our-plans-bottom .btn a{
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

main section#our-plans .our-plans-bottom .box:nth-child(3) a{
  border: 0px;
}

main section#our-plans .our-plans-bottom h3,
main section#our-plans .our-plans-bottom .price,
main section#our-plans .our-plans-bottom .text{
  margin-bottom: 30px;
}

main section#our-plans .our-plans-bottom div.text {
  font-size: 13px;
}

main section#our-plans .our-plans-bottom .month{
  font-size: 10px;
}

/* SECTION OUR-NEWS */
main section#our-news{
  background-color: #f7f8fa;
  padding: 70px 0;
}

/* our-news-top */
main section#our-news .our-news-top{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

main section#our-news .our-news-top h2{
  margin-bottom: 30px;
}

/* our-news-bottom */
main section#our-news .our-news-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main section#our-news .our-news-bottom .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 4);
  padding: 40px;
  text-align: center;
}

main section#our-news .our-news-bottom .box img,
main section#our-news .our-news-bottom .box h3,
main section#our-news .our-news-bottom .box div,
main section#our-news .our-news-bottom .box p{
  padding: 8px 0;
}

main section#our-news .our-news-bottom .box div.date{
  font-size: 12px;
}

main section#our-news .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

main section#our-news .btn a{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

/* SECTION WHAT */
main section#what {
  background-color: white;
  padding: 70px 0;
}

/* what-top */
main section#what .container {
  position: relative;
}

main section#what .previous{
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-40%);
  font-size: 35px;
}

main section#what .next{
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-40%);
  font-size: 35px;
}

main section#what h2{
  text-align: center;
}

main section#what .what-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section#what h2,
main section#what .what-top img,
main section#what .what-top p,
main section#what .what-top .name{
  margin-bottom: 30px;
}

main section#what .what-top img{
  width: 150px;
  border-radius: 50%;
}

main section#what .what-top p{
  font-style: italic;
}

main section#what .circle{
  display: flex;
  justify-content: center;
  align-items: center;
}

main section#what .circle i{
  padding-right: 10px;
  margin-bottom: 30px;
}

main section#what .circle > i.active {
  color: #5f7afd;
}

/* what-bottom */
main section#what .what-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #f8f8f8;
  padding-top: 50px;
}

main section#what .what-bottom img{
  width: 100px;
}

/* SECTION START */
main section#start {
  background-image: url('../seo/images/CTA-seo-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* filter: grayscale(80%); */
  padding: 100px 0;
}

main section#start .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  /* z-index: 1; */
}

main section#start .container h2,
main section#start .container p,
main section#start .container .btn{
  margin-bottom: 30px;
}

main section#start .btn a{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

/* FOOTER */
footer{
  background-color: white;
  width: 100%;
}

footer .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

footer img{
  width: 15%;
}

/* footer-nav */
footer .footer-nav ul li{
  padding-right: 20px;
}

footer .footer-nav ul li:first-child a{
  color: #ffa837;
}

/* copyright */
footer .copyright ul li{
  border-right: 1px solid #818e9d;
}

footer .copyright ul li:last-child{
  border-right: none;
}

footer img,
footer .footer-nav,
footer .copyright{
  margin-bottom: 50px;
}
