* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* classi ritulizzabili */
.container {
  max-width: 1070px;
  height: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

ul li {
 display: inline-block;
 margin-right: 5px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0 5px;
}

.ms_white{
  color: white;
}

.ms_orange{
  color: #ffa837;
}

.bcg_orange {
  background-color: #ffa837;
}

.bcg_blue {
  background-color: #556eed;
}

/* header */
header{
  width: 100%;
  height: 600px;
  background-image: url('../seo/images/1-hero-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header nav {
  width: 100%;
  height: 80px;
}

header nav .navbar-left{
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav .navbar-right{
  width: 70%;
  height: 80px;
}

header nav .navbar-right ul{
  display: flex;
  justify-content: space-between;
}

header nav .navbar-right ul li{
  line-height: 80px;
  vertical-align: middle;
}

header nav .navbar-right #apply{
  padding: 2px 5px;;
  border: 1px solid #ffa837;
  border-radius: 10px;
}

header nav .navbar-right ul li:last-child a{
  padding: 8px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

/* jumbotron */
header .jumbotron {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .jumbotron .text{
  width: 40%;
}

header .jumbotron .text h1,
header .jumbotron .text p{
  margin-bottom: 30px;
}

header .jumbotron .text ul li a{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

/* main */
main{
  background-color: green;
  width: 100%;
  height: 1000px;
}

/* section meet */
main section#meet {
  width: 100%;
  padding-top: 100px;
  background-color: #f7f8fa;
}

main section#meet .meet-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section#meet .meet-top h1,
main section#meet .meet-top p{
  margin-bottom: 40px;
}

main section#meet .meet-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main section#meet .meet-center .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 4);
  background-color: white;
  padding: 40px;
}

main section#meet .meet-center .box i{
  font-size: 30px;
}

main section#meet .meet-center .box i,
main section#meet .meet-center .box h3{
  margin-bottom: 10px;
}

main section#meet .meet-center .box p{
  text-align: center;
}

main section#meet .meet-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


/* footer */
footer{
  background-color: blue;
  width: 100%;
  height: 100px;
}
