<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Layout Seo</title>
</head>
<body>
  <div id="avada">
    <!-- widget -->
    <div class="scroll-to-top">
      <a href="#jump-top"><i class="fas fa-chevron-up"></i></a>
    </div>
    <!-- / widget -->
    <!-- header -->
    <header>
      <div class="container" id="jump-top">
        <!-- navbar -->
        <nav>
          <div class="navbar-left float-left">
            <img src="seo/images/logo_seo_w_1x.png" alt="">
          </div>
          <div class="navbar-right float-right">
            <ul>
              <li v-for="link in menu"><a href="#" class="ms_white">{{link}}</a></li>
            </ul>
          </div>
        </nav>
        <!-- / navbar -->
        <!-- Jumbotron -->
        <div class="jumbotron">
          <div class="text">
            <h1 class="ms_white">SEM Campaigns Made Simple With Avada</h1>
            <p class="ms_line ms_white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul>
              <li><a href="#" class="ms_white bcg_orange">Buy Avada Now</a></li>
              <li><a href="#" class="ms_white bcg_blue">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- / header -->
    <!-- main -->
    <main>
      <!-- section meet -->
      <section id="meet">
        <div class="container">
          <!-- meet-top -->
          <div class="meet-top">
            <h2>Meet The New Agency SEO Template From Avada Team</h2>
            <p class="ms_grey ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- meet-center -->
          <div class="meet-center">
            <div class="box" v-for="agency in agencySeo">
              <i :class="agency.logo" class="ms_orange"></i>
              <h3>{{agency.title}}</h3>
              <p class="ms_grey ms_line">{{agency.text}}</p>
            </div>
          </div>
          <!-- meet-bottom -->
          <div class="meet-bottom">
            <img src="seo\images\agency-seo-desk-front-800x380.jpg" alt="">
          </div>
        </div>
      </section>
      <!-- / section meet -->
      <!-- section see -->
      <section id="see">
        <div class="container">
          <!-- see-top -->
          <div class="see-top ms_white">
            <h2>See Our Top Notch Services</h2>
            <p class="ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- see-bottom -->
          <div class="see-bottom ms_white">
            <div class="box" v-for="service in services">
              <i :class="service.logo" class="ms_yellow"></i>
              <h3>{{service.title}}</h3>
              <p class="ms_line">{{service.text}}</p>
              <a href="#" class="ms_yellow">{{service.link}} <i :class="service.linkArrow" class="arrow-right"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- / section see -->
      <!-- section our-work -->
      <section id="our-work">
        <div class="container">
          <!-- our-work-top -->
          <div class="our-work-top">
            <h2>Our Work</h2>
            <p class="ms_grey ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- our-work-center -->
          <div class="our-work-center">
            <div class="row">
              <div class="box">
                <img src="seo\images\case-study-gallery-3-1-200x150.jpg" alt="">
              </div>
              <div class="box">
                <img src="seo\images\case-study-gallery-2-200x150.jpg" alt="">
              </div>
              <div class="box">
                <img src="seo\images\case-study-gallery-6-1-200x150.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="box">
                <img src="seo\images\case-study-gallery-4-1-200x150.jpg" alt="">
              </div>
              <div class="box">
                <img src="seo\images\case-study-gallery-5-1-200x150.jpg" alt="">
              </div>
              <div class="box">
                <img src="seo\images\case-study-gallery-1-1-200x150.jpg" alt="">
              </div>
            </div>
            <div class="btn">
              <a href="#" class="ms_white bcg_orange">View our work</a>
            </div>
          </div>
        </div>
      </section>
      <!-- / section our-work -->
      <!-- section our-plans -->
      <section id="our-plans">
        <div class="container">
          <!-- our-plans-top -->
          <div class="our-plans-top ms_white">
            <h2>Our Plans</h2>
            <p class="ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- our-plans-bottom -->
          <div class="our-plans-bottom">
            <div class="box">
              <h3>Standard</h3>
              <div class="price">
                <div><i class="fas fa-dollar-sign ms_grey"></i></div>
                <div class="number ms_blue">19</div>
                <div class="cent">
                  <div class="ms_blue">99</div>
                  <div class="month ms_grey">monthly</div>
                </div>
                </span>
              </div>
              <div class="ms_grey text">5 Projects</div>
              <div class="ms_grey text">5 GB Storage</div>
              <div class="ms_grey text">Unlimited Users</div>
              <div class="btn"><a href="#" class="ms_black">Start today</a></div>
            </div>
            <div class="box">
              <h3>Premium</h3>
              <div class="price">
                <div><i class="fas fa-dollar-sign ms_grey"></i></div>
                <div class="number ms_blue">29</div>
                <div class="cent">
                  <div class="ms_blue">99</div>
                  <div class="month ms_grey">monthly</div>
                </div>
                </span>
              </div>
              <div class="ms_grey text">10 Projects</div>
              <div class="ms_grey text">15 GB Storage</div>
              <div class="ms_grey text">Unlimited Users</div>
              <div class="btn"><a href="#" class="ms_black">Start today</a></div>
            </div>
            <div class="box">
              <h3>Professional</h3>
              <div class="price">
                <div><i class="fas fa-dollar-sign ms_grey"></i></div>
                <div class="number ms_blue">39</div>
                <div class="cent">
                  <div class="ms_blue">99</div>
                  <div class="month ms_grey">monthly</div>
                </div>
                </span>
              </div>
              <div class="ms_grey text">15 Projects</div>
              <div class="ms_grey text">30 GB Storage</div>
              <div class="ms_grey text">Unlimited Users</div>
              <div class="btn"><a href="#" class="bcg_orange ms_white">Start today</a></div>
            </div>
            <div class="box">
              <h3>Extreme</h3>
              <div class="price">
                <div><i class="fas fa-dollar-sign ms_grey"></i></div>
                <div class="number ms_blue">59</div>
                <div class="cent">
                  <div class="ms_blue">99</div>
                  <div class="month ms_grey">monthly</div>
                </div>
                </span>
              </div>
              <div class="ms_grey text">Unlimited Projects</div>
              <div class="ms_grey text">Unlimited GB Storage</div>
              <div class="ms_grey text">Unlimited Users</div>
              <div class="btn"><a href="#" class="ms_black">Start today</a></div>
            </div>
        </div>
      </section>
      <!-- / section our-plans -->
      <!-- section our-news -->
      <section id="our-news">
        <div class="container">
          <!-- our-news-top -->
          <div class="our-news-top">
            <h2>Our News</h2>
            <p class="ms_grey ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- our-news-bottom -->
          <div class="our-news-bottom">
            <div class="box">
              <img src="seo\images\related-service-2-320x202.jpg" alt="">
              <h3 class="ms_orange">Why You Need A SEO Agency Now</h3>
              <div class="date ms_grey">November 1st, 2017</div>
              <p class="ms_grey ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="box">
              <img src="seo\images\related-service-4-320x202.jpg" alt="">
              <h3 class="ms_orange">SEO Tips For Your Startup</h3>
              <div class="date ms_grey">November 1st, 2017</div>
              <p class="ms_grey ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="box">
              <img src="seo\images\blog-post-6-320x202.jpg" alt="">
              <h3 class="ms_orange">Image Optimization For Your Site</h3>
              <div class="date ms_grey">November 1st, 2017</div>
              <p class="ms_grey ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="btn">
            <a href="#" class="ms_white bcg_orange">Go To news</a>
          </div>
        </div>
      </section>
      <!-- / section our-news -->
      <!-- section what -->
      <section id="what">
        <div class="container">
          <!-- previous arrow  -->
          <div class="previous ms_blue" @click="previousClient">
              <i class="fas fa-angle-left"></i>
          </div>
          <h2>What Our Clients Say</h2>
          <!-- section what-top -->
          <div class="what-top">
            <img :src="clients[counter].image" alt="">
            <p class="ms_grey">{{clients[counter].review}}</p>
            <div class="name"><strong>{{clients[counter].name}}</strong>, <span class="ms_grey">{{clients[counter].role}}</span></div>
          </div>
          <!-- next arrow -->
          <div class="next ms_blue" @click="nextClient">
              <i class="fas fa-angle-right"></i>
          </div>
          <div class="circle">
            <i class="fas fa-circle" v-for="(client, index) in clients" :class="(index == counter) ? 'active' : ''" @click="clickCircle(index)"></i>
          </div>
          <!-- section what-bottom -->
          <div class="what-bottom">
            <img src="seo\images\clients_partner_5-200x202.png" alt="">
            <img src="seo\images\clients_partner_6-200x202.png" alt="">
            <img src="seo\images\clients_partner_1-200x202.png" alt="">
            <img src="seo\images\clients_partner_2-200x202.png" alt="">
          </div>
        </div>
      </section>
      <!-- / section what -->
      <!-- section start -->
      <section id="start">
        <div class="container">
          <h2 class="ms_white">Start Your Free Consultation</h2>
          <p class="ms_white ms_line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="btn">
            <a href="#" class="ms_white bcg_orange">Contact Us Now</a>
          </div>
        </div>
      </section>
      <!-- / section start -->
    </main>
    <!-- footer -->
    <footer>
      <div class="container">
        <img src="seo\images\logo_seo_2x.png" alt="">
        <!-- footer-nav -->
        <div class="footer-nav">
          <ul>
            <li v-for="link in menuFooter"><a href="#" class="ms_grey">{{link}}</a></li>
          </ul>
        </div>
        <!-- copyright -->
        <div class="copyright">
          <ul>
            <li><a href="#" class="ms_grey"><i class="far fa-copyright ms_grey"></i>Copyright 2012-2021</a></li>
            <li><a href="#" class="ms_grey">Avada Theme by <strong>ThemeFusion</strong></a></li>
            <li><a href="#" class="ms_grey">All Rights Reserved</a></li>
            <li><a href="#" class="ms_grey">Powered by <strong>Federico</strong></a></li>
          </ul>
        </div>
        <!-- social -->
        <div class="social">
          <ul>
            <li><a href="" class="ms_grey"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="" class="ms_grey"><i class="fab fa-instagram"></i></a></li>
            <li><a href="" class="ms_grey"><i class="fab fa-twitter"></i></a></li>
            <li><a href="" class="ms_grey"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
